h1{
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
}

h2{
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
}

p{
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
}

header{
    display: flex;
    background-color: lightgray;
    justify-content: space-around;
}

li{
    list-style: none;
    position: relative;
    display: inline-block;
    padding: 1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: black;
}

img{
    max-width: 600px;
}

a{
    text-decoration: none;
}

.grid_1-2{
    display: grid;
    grid-template-columns: 1fr 1fr;;
    grid-template-rows: 1fr;
    gap:    1rem;
    padding: 2rem;
    justify-content: center;
    
}

.productInfo{
    padding: 1rem;
    background-color: lightgrey;
    border-radius: 20px;
    box-sizing: border-box;
    
}
.price{
    font-size: 25px;
}

button{
    color: white;
    border-color: black;
    background-color: black;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}